<!---
Setting the chart up in javascript because getting at the xAxis labels
for datetime is difficult in ruby
-->

<script type="text/javascript">
  (function() {
    var onload = window.onload;
    window.onload = function(){
    if (typeof onload == "function") onload();
      var options, chart;
      options = { "title": { "text": "<%= @title %>" },"legend": { "layout": "vertical","style": {  } },"xAxis": { "type": "datetime" },"yAxis": { "title": { "text": null },"labels": {  } },"tooltip": { "enabled": true },"credits": { "enabled": false },"plotOptions": { "areaspline": {  } },"chart": { "defaultSeriesType": "line","renderTo": "my_id" },"subtitle": {  },"series": [{ "name": "voltage","data": 

      <%= @moistureValues.map{ |f| [f[0].to_datetime.to_i, f[1] ] }.inspect %>
    }] };
    chart = new Highcharts.Chart(options);
    };
  })()
</script>

<div id="my_id"></div>